.hyperlink{
    color: var(--text-primary);
    font-family: Figtree;
    font-size: 17px;
    font-style: normal;
    font-weight: 590;
    line-height: 27px;
    border-radius: 9999px;
}

.link{
    border-radius: 9999px;
}