.navbarParentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96px;
    bottom: 0;
    position: fixed;
    z-index: 1000000;
}

.backgroundBlurContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to top, #000 20%, transparent);
    mask-image: linear-gradient(to top, #000 20%, transparent);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.navbarContainer {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    border-radius: 9999px;
    outline: 1px solid var(--border-primary, #D9D9D9);
    background: var(--bg-primary, #FFF);
    box-shadow: 0px 329px 92px 0px rgba(0, 0, 0, 0.00), 0px 211px 84px 0px rgba(0, 0, 0, 0.01), 0px 119px 71px 0px rgba(0, 0, 0, 0.04), 0px 53px 53px 0px rgba(0, 0, 0, 0.07), 0px 13px 29px 0px rgba(0, 0, 0, 0.08);
    animation: navbarAnimation 0.4s ease-out;
}

.hyperlinksContainer {
    display: flex;
    gap: 8px;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinksContainer {
    display: flex;
    gap: 8px;
}

.socialLink {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    background: var(--bg-tertiary);
    color: var(--text-secondary);
}

.themeSwitch {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background: var(--bg-tertiary);
    border: none;
    color: var(--text-secondary);
}

@keyframes navbarAnimation {
    0% {
        /* opacity: 0.6; */
        transform: translateY(40px);
    }

    100% {
        /* opacity: 1; */
        transform: translateY(0px);
    }
}

.navbarLink {
    color: var(--text-primary, #171717);
    font-family: Figtree;
    font-size: 13px;
    font-style: normal;
    font-weight: 510;
    line-height: 20px;
    /* letter-spacing: 0.13px; */
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
}

.active {
    background: var(--bg-tertiary);
}

.themeButton {
    color: var(--text-primary, #171717);
    font-family: Figtree;
    font-size: 13px;
    font-style: normal;
    font-weight: 510;
    line-height: 20px;
    /* letter-spacing: 0.13px; */
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    border: none;
    background-color: var(--bg-primary);
    cursor: pointer;
}

.resume {
    background: var(--bg-invert-primary, #FFF);
    /* box-shadow: 0px 329px 92px 0px rgba(0, 0, 0, 0.00), 0px 211px 84px 0px rgba(0, 0, 0, 0.01), 0px 119px 71px 0px rgba(0, 0, 0, 0.04), 0px 53px 53px 0px rgba(0, 0, 0, 0.07), 0px 13px 29px 0px rgba(0, 0, 0, 0.08);
    color: var(--text-invert-primary, #171717); */
    font-size: 15px;
    font-style: normal;
    font-weight: 690;
    line-height: 24px;
    /* letter-spacing: 0.13px; */
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    color: var(--text-invert-primary);
}

@media screen and (max-width: 632px) {
    .navbarParentContainer {
        padding: 0px 24px;
    }

    .navbarContainer {
        overflow: scroll;
    }
}