.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100vw;
    height: 100vh;
    color: var(--text-primary, #F7F7F7);
    font-family: Figtree;
    font-size: 17px;
    font-style: normal;
    font-weight: 510;
    line-height: 27px;
    letter-spacing: -0.336px;
}