.labParentContainer {
  display: flex;
  width: 100%;
  padding: 8px 8px 8px 0px;
}

.my_masonry_grid {
  display: flex;
  width: 100%;
}

.my_masonry_grid_column {
  /* padding-left: 30px; gutter size */
  background-clip: padding-box;
  margin-left: 8px;
}

/* Style your items */
.my_masonry_grid_column .item {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  /* margin-bottom: 12px; */
  /* width: 100%; */
  overflow: hidden;
  animation: backdropFilterAnimation 0.5s ease-out forwards;
}

/* @keyframes labCardAnimation {
  0% {
      filter: blur(8px);
  }

  100% {
      filter: blur(0px);
  }
}  */

/* .images{
  animation: labCardAnimation 0.8s ease-out forwards;
} */

.blurOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.01);
  /* backdrop-filter: blur(32px); */
  animation: backdropFilterAnimation 0.2s ease-out forwards;
}

@keyframes backdropFilterAnimation{
  0%{
    backdrop-filter: blur(2px);
  }
  100%{
    backdrop-filter: blur(0px);
  }
}