.labParentContainer {
  display: flex;
  width: 100%;
  padding: 8px 8px 8px 0px;
}

.my_masonry_grid {
  display: flex;
  width: 100%;
}

.my_masonry_grid_column {
  padding-left: 8px;
  background-clip: padding-box;
}

/* @keyframes labCardAnimation {
  0% {
      filter: blur(8px);
  }

  100% {
      filter: blur(0px);
  }
} */

/* @keyframes backdropFilterAnimation{
  0%{
    backdrop-filter: blur(2px);
  }
  100%{
    backdrop-filter: blur(0px);
  }
} */