.experienceList {
    display: flex;
    padding: 12px 0px;
    gap: 12px;
    align-items: center;
    width: 100%;
}

.name {
    color: var(--text-primary, #F7F7F7);
    font-family: Figtree;
    font-size: 17px;
    font-style: normal;
    font-weight: 510;
    line-height: 27px;
    white-space: nowrap;
}

.divider {
    width: 100%;
    background: var(--border-primary, #404040);
    height: 1px;
}

.duration {
    color: var(--text-secondary, #C7C7C7);
    text-align: right;
    font-family: Figtree;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    white-space: nowrap;
}