.labParentContainer {
    border-radius: 8px;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 8px;
}

.labCardDetailsContainer {
    display: flex;
    width: 539px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 20;
}

.labDetails {
    color: var(--text-primary);
    font-family: Figtree;
    font-size: 13px;
    font-style: normal;
    font-weight: 510;
    line-height: 21px;
}

.labVideoContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.videoPlaceholderImage {
    position: absolute;
    inset: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: 2;
    filter: blur(32px);
}

.labVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.time {
    color: var(--text-secondary);
}