.labCard{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid var(--border-primary);
    box-shadow: 0px 0px 0px 2px var(--bg-tertiary);
    height: fit-content;
    width: 700px;
}